@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 75;
    color: white;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(116deg, #ffb352, #ff5c20, #300f02);
}

.container{
    display: flex;
    place-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    max-height: 300px;
    background-color: rgb(29, 27, 27);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    box-shadow: 1px 1px 13px 5px white;
    transition: max-height 1s ease;
    
}

.show-container{
    max-height: 550px;
}
.cabecalho{
    display: grid;
    margin: 1rem;
    place-content: center;
    transition: position 1s ease-in-out;

}

.start:hover{
    padding: 0.6rem;
    background-color: #ff5c20;
    transition: padding 0.5s ease, background-color 0.5s ease;


}

#player1, #player2{
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: 0;
}
.start{
    width: 172px;
    background-color: #000000;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
}


/* Area de marcação */

.areaMarcacao{
    visibility: hidden;
    width: 250px;
    height: 290px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    opacity: 0;
    transition: opacity 2s ease;
    position: absolute;

}

.show-areaMarcação{
    position: relative;
    visibility: visible;
    opacity: 1;
}

.area{
    display: grid;
    place-content: center;
    border: 1.5px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 4rem;
}
.area:nth-child(1),
.area:nth-child(2),
.area:nth-child(3){
    border-top: 0;
}

.area:nth-child(7),
.area:nth-child(8),
.area:nth-child(9){
    border-bottom: 0;
}
.area:nth-child(1),
.area:nth-child(4),
.area:nth-child(7){
    border-left: 0;
}

.area:nth-child(3),
.area:nth-child(6),
.area:nth-child(9){
    border-right: 0;
}

.vez{
    display: none;
    margin: 20px 0;
}

.hiddenVez{
    display: flex;
}

.winMessage{
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    text-align: center;
    align-content: center;  
    opacity: 0;
    transform: scale(0);
    transition: opacity 3s ease, transform 2s ease;
    font-size: 2rem;
}
.show-winMessage{
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


.winMessage button {
    font-size: 1.5rem;
    background: linear-gradient(336deg, #ffb352, #ff5c20, #300f02);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
  }
  
.winButton:hover {
    color: rgb(0, 0, 0);
    background-color: white !important;
    transition: all 0.5s ease-in-out;
}

.winLine {
    content: '';
    position: absolute;
    background: linear-gradient(116deg, #ffb352, #ff5c20);
    transition: width 1.5s ease;
    z-index: 10; 
    height: 5px; 
    width: 0; 
    transform-origin: left;
}

.horizontal-top-win {
    top: 15%;
    left: 0;
    width: 0; 
    transition: width 1.5s ease;
}

.horizontal-center-win {
    top: 50%;
    left: 0;
    width: 0; 
    transition: width 1.5s ease;
}

.horizontal-bottom-win {
    top: 84%;
    left: 0;
    width: 0; 
    transition: width 1.5s ease;
}

.vertical-left-win{
    top: 0;
    left: 15%;
    height: 0;
    width: 5px;
    transition: height 1.5s ease;
}

.vertical-center-win{
    top: 0;
    left: 49%;
    height: 0;
    width: 5px;
    transition: height 1.5s ease;
}

.vertical-right-win{
    top: 0;
    left: 82.5%;
    height: 0;
    width: 5px;
    transition: height 1.5s ease;
}

.diagonal-left {
    top: 0;
    left: 0;
    width: 0;
    transform: rotate(44deg);
    transition: width 1.5s ease;
}

.diagonal-right {
    top: 100%;
    width: 0;
    transform: rotate(-44.5deg);
    transition: width 1.5s ease;
}

.expand-horizontal {
    width: 100%; 
}

.expand-vertical {
    height: 100%; 
}

.expand-diagonal {
    width: 140%;
}